/***** 

reset

*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** 

main

*****/

header {
    background-color: #add8e6;     
}

.header-container{
    display: flex;
    justify-content: center;
    margin: 0 360px 0;
    padding: 16px 0 16px;
}

.header-container > div {
    background-color: #daa520;    
}

.logo {
    width: 240px;
    flex-shrink: 0;
}

.nav{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}

.nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
}

.login {
    text-align: end;
}

.section-header-container {
    background-color: #00008b;
    height: 500px;                                          /*rimuovere quando vengono inseriti i contenuti */
    margin-bottom: 5px;
    display: flex;
}

#head3 {
    background-color: #ee82ee;
    margin: 50px 505px 50px;
    flex-grow: 1;
}

.hr {
    height: 5px;
}

/***** 

main

*****/

.main-container {
    display: flex;
    justify-content: center;
    height: 600px;                                          /*rimuovere quando vengono inseriti i contenuti */   
}
#second-section {   
    background-color: #d3d3d3;
}


.box-big {
    width: 720px;
    flex-shrink: 0;
    background-color: #1e90ff;
    margin: 50px 0 50px 360px;

}

.box-small {
    flex-grow: 1;
    background-color: #ffc0cb;
    margin: 50px 360px 50px 0;
}

#main1 {
    margin: 50px 0 50px 360px;
}

#main2 {
    margin: 50px 360px 50px 0;
}

.last-section {
    display:flex;
    height: 1000px;                                         /*rimuovere quando vengono inseriti i contenuti */   
    background-color: #d3d3d3;
}

#main3 {
    
    flex-grow: 1;
    margin: 50px 360px 50px;
    background-color: #228b22;
}

/***** 

footer

*****/

.footer-container-big{
    display: flex;
    height: 630px;                                              /*rimuovere quando vengono inseriti i contenuti */   
    background-color: #23272a;
}

.footer-left {
    width: 360px;
    flex-shrink: 0;
    background-color: #f08080;
    margin: 12px 0 40px 360px;
}

.footer-right{
    display: flex;
    flex-grow: 1;
    margin: 12px 360px 40px 0;
    background-color: #20b2aa;
}

.in-footer-dx {
    flex-grow: 1;
    border: #00008b 1px dotted;
}

.footer-container-small{
    display: flex;
    height: 110px;                                              /*rimuovere quando vengono inseriti i contenuti */   
    background-color: #23272a;
}

#footer1 {
    flex-grow: 1;
    background-color: #7fffd4;
    margin: 30px 360px 0;
    display: flex;
    justify-content: space-between;
}

#logo-ft{
    width: 70px;                                            /*rimuovere quando vengono inseriti i contenuti */
    background-color: #ffb6c1;
    align-self: center;
}

#button-ft {
    width: 70px;                                            /*rimuovere quando vengono inseriti i contenuti */
    background-color: #ffb6c1;
    align-self: center;

}

