* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #add8e6;     
}

.header-container{
    display: flex;
    justify-content: center;
    margin: 0 360px 0;
    padding: 16px 0 16px;
}

.header-container > div {
    background-color: #daa520;
    border: red 1px dotted;
    
}

#head1 {
    width: 240px;
    flex-shrink: 0;
}

#head2{
    flex-grow: 1;
    text-align: center;
}

#head3 {
    width: 240px;
    flex-shrink: 0;
    text-align: end;
    
}

.section-header-container {
    background-color: #00008b;
    height: 500px;
    margin-bottom: 5px;
    display: flex;
}

#head4 {
    background-color: #ee82ee;
    margin: 50px 505px 50px;
    flex-grow: 1;
    border: red 1px dotted;
}

#empty {
    height: 5px;
}

.main-container1 {
    display: flex;
    justify-content: center;
    height: 600px;   
}

#main1 {
    width: 720px;
    flex-shrink: 0;
    background-color: #1e90ff;
    margin: 50px 0 50px 360px;
}

#main2 {
    flex-grow: 1;
    background-color: #ffc0cb;
    margin: 50px 360px 50px 0;
}



